Morning Briefing.json
{
  "name": "Morning Briefing",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 19
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "3b647374-40b9-4aa7-b040-646898c05ab3",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/top-headlines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "general"
            },
            {
              "name": "pageSize",
              "value": "5"
            },
            {
              "name": "apiKey",
              "value": "Ee791639c8dd43a48ceae212b3499436"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1040,
        0
      ],
      "id": "57e02c2a-75a4-464a-aa6f-af42998cd620",
      "name": "News"
    },
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.city }}"
            },
            {
              "name": "appid",
              "value": "50a1fe4036b856e68b72fafce663f7ec"
            },
            {
              "name": "units",
              "value": "imperial"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        0
      ],
      "id": "2c2fa030-c72e-4ae3-8f6f-c6bcbfa5abe4",
      "name": "Weather"
    },
    {
      "parameters": {
        "url": "https://ipapi.co/json/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        560,
        0
      ],
      "id": "d79590d8-d58b-4dda-a0c8-c44f056a8b6d",
      "name": "Location"
    },
    {
      "parameters": {
        "url": "https://zenquotes.io/api/random",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        288,
        176
      ],
      "id": "fc360826-ace6-46a2-a559-f5606a9c1621",
      "name": "Quote"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1523275550486171719/k9zqSDPJwQlPsb9quZKtgwi6jSqtEX5AMjyJ2ufN5bTSAlyWCOsMUbM4H5Up44aFJTzH",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{$json.message}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        176
      ],
      "id": "c82686eb-e75f-47dc-9697-d1f3e2a5eded",
      "name": "Message"
    },
    {
      "parameters": {
        "jsCode": "const articles = $input.first().json.articles || [];\n\nconst headlines = articles\n  .slice(0, 5)\n  .map((a, i) => `**${i + 1}.** ${a.title}`)\n  .join(\"\\n\");\n\nreturn [{\n  json: {\n    headlines\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        176
      ],
      "id": "b0025a91-b54a-4556-8a05-d7806b128506",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const weather = $node[\"Weather\"].json;\nconst news = $node[\"News\"].json;\nconst quote = $node[\"Quote\"].json;\n\n// Format weather\nconst temp = Math.round(weather.main.temp);\nconst feelsLike = Math.round(weather.main.feels_like);\nconst humidity = weather.main.humidity;\nconst wind = Math.round(weather.wind.speed);\n\nconst description = weather.weather[0].description\n  .replace(/\\b\\w/g, c => c.toUpperCase());\n\n// Shorten headlines\nconst headlines = news.articles\n  .slice(0, 3)\n  .map(article => {\n    let title = article.title.split(\" - \")[0]; // Remove source\n    if (title.length > 85) title = title.slice(0, 82) + \"...\";\n    return `• ${title}`;\n  })\n  .join(\"\\n\");\n\n// Today's date\nconst today = new Date().toLocaleDateString(\"en-US\", {\n  weekday: \"long\",\n  month: \"long\",\n  day: \"numeric\",\n});\n\n// Clothing recommendation\nlet advice = \"\";\n\nif (temp >= 90) {\n  advice = \"🥵 It's going to be very hot today. Stay hydrated and wear light clothing.\";\n} else if (temp >= 75) {\n  advice = \"👕 Warm weather today. Short sleeves should be comfortable.\";\n} else if (temp >= 60) {\n  advice = \"🧥 Mild temperatures. A light jacket may be useful this morning.\";\n} else {\n  advice = \"🧣 It's quite chilly today. Dress warmly before heading out.\";\n}\n\n// Final message\nconst message = `# 🌅 Good Morning!\n\n\n📅 **${today}**\n\n📍**${$('Location').first().json.city}, ${$('Location').first().json.country_name}** \n\n## ☀️ Weather\n\n**${temp}°F** • ${description}\n\n🌡️ Feels like: **${feelsLike}°F**\n💧 Humidity: **${humidity}%**\n🌬️ Wind: **${wind} mph**\n\n${advice}\n\n## 📰 Today's Headlines\n\n${headlines}\n\n## 💪 Quote of the Day\n\n> *\"${quote.q}\"*\n\n— **${quote.a}**\n\nHave an amazing day! 🚀\n\n─────────────────────────────`;\n\nreturn [\n  {\n    json: {\n      message\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        176
      ],
      "id": "c2052c14-f973-4e4d-9346-b4b4d7a0864e",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\n\n// Detects your laptop's current travel timezone automatically\nconst localTimezone = Intl.DateTimeFormat().resolvedOptions().timeZone;\n\n// Format helpers\nconst formatTime = (options) => {\n  return new Intl.DateTimeFormat('en-US', {\n    ...options,\n    timeZone: localTimezone\n  }).format(now);\n};\n\nconst parts = new Intl.DateTimeFormat('en-US', {\n  timeZone: localTimezone,\n  year: 'numeric', month: '2-digit', day: '2-digit',\n  hour: '2-digit', minute: '2-digit', second: '2-digit',\n  hour12: false\n}).formatToParts(now);\n\nconst getPart = (type) => parts.find(p => p.type === type).value;\n\nconst getOrdinalSuffix = (day) => {\n  const d = parseInt(day);\n  if (d > 3 && d < 21) return 'th';\n  switch (d % 10) {\n    case 1:  return \"st\";\n    case 2:  return \"nd\";\n    case 3:  return \"rd\";\n    default: return \"th\";\n  }\n};\n\nconst dayOfMonth = getPart('day');\nconst monthName = formatTime({ month: 'long' });\nconst ordinalDate = `${monthName} ${parseInt(dayOfMonth)}${getOrdinalSuffix(dayOfMonth)} ${getPart('year')}`;\n\nreturn [{\n  \"timestamp\": now.toISOString(),\n  \"Readable date\": `${ordinalDate}, ${formatTime({ hour: 'numeric', minute: '2-digit', second: '2-digit', hour12: true }).toLowerCase()}`,\n  \"Readable time\": formatTime({ hour: 'numeric', minute: '2-digit', second: '2-digit', hour12: true }).toLowerCase(),\n  \"Day of week\": formatTime({ weekday: 'long' }),\n  \"Year\": getPart('year'),\n  \"Month\": monthName,\n  \"Day of month\": dayOfMonth,\n  \"Hour\": getPart('hour'),\n  \"Minute\": getPart('minute'),\n  \"Second\": getPart('second'),\n  \"Timezone\": `${localTimezone} (UTC${formatTime({ timeZoneName: 'shortOffset' }).replace('GMT', '')})`\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        0
      ],
      "id": "923e9d0b-1fff-4c6a-bf5f-b1cc5db1648a",
      "name": "Code in JavaScript2"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "News": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weather": {
      "main": [
        [
          {
            "node": "News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Location": {
      "main": [
        [
          {
            "node": "Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quote": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Location",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "e31551bf-7c6d-49c2-af8c-e5c4e4036600",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c82e111ce771d22a27837030b8dd8e2ede266e15066c3ffc6f0cc51c57c640df"
  },
  "nodeGroups": [],
  "id": "g4uWZ5o48wLImjUJ",
  "tags": []
}