Morning Briefing (4).json
{
  "name": "Morning Briefing",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.city }}"
            },
            {
              "name": "appid",
              "value": "50a1fe4036b856e68b72fafce663f7ec"
            },
            {
              "name": "units",
              "value": "imperial"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1792,
        128
      ],
      "id": "2c2fa030-c72e-4ae3-8f6f-c6bcbfa5abe4",
      "name": "Weather"
    },
    {
      "parameters": {
        "url": "https://ipapi.co/json/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1568,
        128
      ],
      "id": "d79590d8-d58b-4dda-a0c8-c44f056a8b6d",
      "name": "Location"
    },
    {
      "parameters": {
        "url": "https://zenquotes.io/api/random",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1792,
        -160
      ],
      "id": "fc360826-ace6-46a2-a559-f5606a9c1621",
      "name": "Quote"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1523275550486171719/k9zqSDPJwQlPsb9quZKtgwi6jSqtEX5AMjyJ2ufN5bTSAlyWCOsMUbM4H5Up44aFJTzH",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{$json.message}}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2240,
        32
      ],
      "id": "c82686eb-e75f-47dc-9697-d1f3e2a5eded",
      "name": "Message"
    },
    {
      "parameters": {
        "jsCode": "// 1. Grab all individual items arriving from your Limit nodes\nconst items = $input.all();\n\n// 2. Map through the individual items to extract the titles and add numbers\nconst headlines = items\n  .map((item, i) => `**${i + 1}.** ${item.json.title}`)\n  .join(\"\\n\");\n\n// 3. Return the single consolidated string formatted for your news app\nreturn [{\n  json: {\n    headlines\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        -160
      ],
      "id": "b0025a91-b54a-4556-8a05-d7806b128506",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Main data sources\nconst weather = $node[\"Weather\"].json;\nconst mergedNews = $node[\"Merge\"].json;        // ← Change \"Merge\" to your actual Merge node name\nconst quote = $node[\"Quote\"].json;\nconst location = $('Location').first().json;\n\n// Helper to safely get articles from each category\nconst getArticles = (category) => {\n  // The merged item likely contains arrays for each category\n  return mergedNews[category] || mergedNews[`${category}News`] || \n         mergedNews.articles?.filter(a => a.category === category) || [];\n};\n\n// Format headlines (same style as before)\nconst formatHeadlines = (articles) => {\n  return (articles || [])\n    .slice(0, 3)\n    .map(article => {\n      let title = article.title ? article.title.split(\" - \")[0] : \"Untitled\";\n      if (title.length > 85) title = title.slice(0, 82) + \"...\";\n      return `• ${title}`;\n    })\n    .join(\"\\n\");\n};\n\n// Weather formatting\nconst temp = Math.round(weather.main.temp);\nconst feelsLike = Math.round(weather.main.feels_like);\nconst humidity = weather.main.humidity;\nconst wind = Math.round(weather.wind.speed);\nconst description = weather.weather[0].description\n  .replace(/\\b\\w/g, c => c.toUpperCase());\n\n// Date\nconst today = new Date().toLocaleDateString(\"en-US\", {\n  weekday: \"long\",\n  month: \"long\",\n  day: \"numeric\",\n});\n\n// Clothing advice\nlet advice = \"\";\nif (temp >= 90) {\n  advice = \"🥵 It's going to be very hot today. Stay hydrated and wear light clothing.\";\n} else if (temp >= 75) {\n  advice = \"👕 Warm weather today. Short sleeves should be comfortable.\";\n} else if (temp >= 60) {\n  advice = \"🧥 Mild temperatures. A light jacket may be useful this morning.\";\n} else {\n  advice = \"🧣 It's quite chilly today. Dress warmly before heading out.\";\n}\n\n// Format each section\nconst politicsHeadlines = formatHeadlines(getArticles(\"politics\"));\nconst aiHeadlines = formatHeadlines(getArticles(\"ai\"));\nconst sportsHeadlines = formatHeadlines(getArticles(\"sports\"));\n\n// Final formatted message\nconst message = `# 🌅 Good Morning!\n\n📅 **${today}**\n📍 **${location.city}, ${location.country_name}**\n\n## ☀️ Weather\n**${temp}°F** • ${description}\n🌡️ Feels like: **${feelsLike}°F**\n💧 Humidity: **${humidity}%**\n🌬️ Wind: **${wind} mph**\n\n${advice}\n\n## 🗳️ World Politics\n${politicsHeadlines || \"• No top stories right now.\"}\n\n## 🤖 AI\n${aiHeadlines || \"• No top stories right now.\"}\n\n## ⚽ Sports\n${sportsHeadlines || \"• No top stories right now.\"}\n\n## 💪 Quote of the Day\n> *\"${quote.q}\"*\n— **${quote.a}**\n\nHave an amazing day! 🚀\n─────────────────────────────`;\n\nreturn [\n  {\n    json: {\n      message\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        32
      ],
      "id": "c2052c14-f973-4e4d-9346-b4b4d7a0864e",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.title }}",
                    "rightValue": "soccer|football|fifa|world cup|copa america|uefa|champions league|premier league|la liga|bundesliga|serie a|match|stadium|tournament|striker|goal|penalty|referee|qualifier|pitch|kickoff",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    },
                    "id": "8467f2ba-8e71-4129-8486-4a72b9787a5d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Sports"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "de790d06-6646-4586-9ef0-6c27329bb19a",
                    "leftValue": "={{ $json.title }}",
                    "rightValue": "politics|election|government|trump|president|prime minister|parliament|senate|republican|democrat|court|law|state|minister|white house|congress|governor|summit|policy|treaty|border|official",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "World Politics"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "6cc87ed0-2325-4254-912b-735fdc29f434",
                    "leftValue": "={{ $json.title }}",
                    "rightValue": "artificial intelligence|ai|chatgpt|llm|machine learning|openai|anthropic|nvidia|robotics|deep learning|neural network|generative ai|midjourney|copilot|gemini|claude",
                    "operator": {
                      "type": "string",
                      "operation": "regex"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "AI"
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        896,
        -272
      ],
      "id": "2d816582-3dd9-4461-a916-f039ddc996b6",
      "name": "Switch"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=articles",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        672,
        -256
      ],
      "id": "3dcbb21c-621b-44c3-94dd-8a5648a8bba9",
      "name": "Split Out"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1120,
        -448
      ],
      "id": "97dda14d-c17a-4189-b904-df9fcb1a61c5",
      "name": "Sport Limit"
    },
    {
      "parameters": {
        "maxItems": 8
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1120,
        -256
      ],
      "id": "3c4e83ba-2aa1-482d-a393-fe1fe80c3d31",
      "name": "Politics Limit"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1120,
        -64
      ],
      "id": "20af33d5-b617-4ecb-9f3a-5d8d1483c420",
      "name": "AI Limit"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1344,
        -176
      ],
      "id": "05bb568a-6c80-4c02-9f61-5dd4c64ae103",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/top-headlines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "category",
              "value": "politics"
            },
            {
              "name": "pageSize",
              "value": "50"
            },
            {
              "name": "apiKey",
              "value": "Ee791639c8dd43a48ceae212b3499436"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        32
      ],
      "id": "57e02c2a-75a4-464a-aa6f-af42998cd620",
      "name": "World Politics"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/top-headlines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "Ee791639c8dd43a48ceae212b3499436"
            },
            {
              "name": "category",
              "value": "sports"
            },
            {
              "name": "pageSize",
              "value": "50"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        -160
      ],
      "id": "97c85eaf-c07e-4d43-b691-0861644692d6",
      "name": "Sports"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/top-headlines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apiKey",
              "value": "Ee791639c8dd43a48ceae212b3499436"
            },
            {
              "name": "category",
              "value": "technology"
            },
            {
              "name": "pageSize",
              "value": "50"
            },
            {
              "name": "q",
              "value": "AI"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        224,
        -352
      ],
      "id": "389074b3-1216-4df0-8185-181463e62a2e",
      "name": "AI"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        -272
      ],
      "id": "ba983904-9b51-40ad-a04d-be580f7a30e2",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\n\n// Detects your laptop's current travel timezone automatically\nconst localTimezone = Intl.DateTimeFormat().resolvedOptions().timeZone;\n\n// Format helpers\nconst formatTime = (options) => {\n  return new Intl.DateTimeFormat('en-US', {\n    ...options,\n    timeZone: localTimezone\n  }).format(now);\n};\n\nconst parts = new Intl.DateTimeFormat('en-US', {\n  timeZone: localTimezone,\n  year: 'numeric', month: '2-digit', day: '2-digit',\n  hour: '2-digit', minute: '2-digit', second: '2-digit',\n  hour12: false\n}).formatToParts(now);\n\nconst getPart = (type) => parts.find(p => p.type === type).value;\n\nconst getOrdinalSuffix = (day) => {\n  const d = parseInt(day);\n  if (d > 3 && d < 21) return 'th';\n  switch (d % 10) {\n    case 1:  return \"st\";\n    case 2:  return \"nd\";\n    case 3:  return \"rd\";\n    default: return \"th\";\n  }\n};\n\nconst dayOfMonth = getPart('day');\nconst monthName = formatTime({ month: 'long' });\nconst ordinalDate = `${monthName} ${parseInt(dayOfMonth)}${getOrdinalSuffix(dayOfMonth)} ${getPart('year')}`;\n\nreturn [{\n  \"timestamp\": now.toISOString(),\n  \"Readable date\": `${ordinalDate}, ${formatTime({ hour: 'numeric', minute: '2-digit', second: '2-digit', hour12: true }).toLowerCase()}`,\n  \"Readable time\": formatTime({ hour: 'numeric', minute: '2-digit', second: '2-digit', hour12: true }).toLowerCase(),\n  \"Day of week\": formatTime({ weekday: 'long' }),\n  \"Year\": getPart('year'),\n  \"Month\": monthName,\n  \"Day of month\": dayOfMonth,\n  \"Hour\": getPart('hour'),\n  \"Minute\": getPart('minute'),\n  \"Second\": getPart('second'),\n  \"Timezone\": `${localTimezone} (UTC${formatTime({ timeZoneName: 'shortOffset' }).replace('GMT', '')})`\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        128
      ],
      "id": "6339d21b-8b10-4a49-8dd6-7c17a7268750",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1120,
        128
      ],
      "id": "79972352-e493-4fd0-997b-019647356538",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 6
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -256
      ],
      "id": "adbd1e82-a32c-4957-b1ce-df683c0c44f6",
      "name": "Schedule Trigger1"
    }
  ],
  "pinData": {},
  "connections": {
    "Weather": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Location": {
      "main": [
        [
          {
            "node": "Weather",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Quote": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Sport Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Politics Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Limit",
            "type": "main",
            "index": 0
          }
        ],
        [],
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Politics Limit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Sport Limit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Limit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "World Politics": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Sports": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Location",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "AI",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sports",
            "type": "main",
            "index": 0
          },
          {
            "node": "World Politics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Asia/Kolkata",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "0611868a-ed2b-45b1-9afd-e24996c12a5e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c82e111ce771d22a27837030b8dd8e2ede266e15066c3ffc6f0cc51c57c640df"
  },
  "nodeGroups": [],
  "id": "g4uWZ5o48wLImjUJ",
  "tags": []
}